{% extends 'base/base.html' %}
{% load static %}

{% block title %}About Us | LORA host{% endblock title %}
{% block page_css %}{% static 'assets/css/pages/about.css' %}{% endblock page_css %}

{% block content %}

<div class="container position-relative">
    <!-- se-head -->
    <div class="se-head">
      <h3 class="se-title-1">درباره</h3>
      <h4 class="se-title-2">بهترین کیفیت</h4>
    </div>
    <!-- content -->
    <div class="content">
      <!-- media -->
      <div class="media">
        <!-- media-img -->
        <img data-src="{% static 'assets/images/pages/about/abh.webp' %}" class="media-img lazy img-fluid" alt="Media">
        <!-- play-btn -->
        <a href="https://www.youtube.com/watch?v=C5JuqJ82Oa8" target="_blank" class="btn btn-fill-primary btn-circle btn-lg play-btn">
          <img data-src="{% static 'assets/images/pages/about/icons/play-button.svg' %}" class="btn-icon lazy img-fluid" alt="Play Button">
        </a>
      </div>
    </div>
  </div>


<!-- Section II -->
<div class="se-ii">
  <div class="container">
    <!-- se-head -->
    <div class="se-head">
      <h3 class="se-title-1">آمار</h3>
      <h4 class="se-title-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </h4>
    </div>
    <!-- row -->
    <div class="row justify-content-center">
      <!-- col -->
      <div class="col-lg-4 col-md-6">
        <!-- box -->
        <div class="box text-center">
          <!-- box-title -->
          <h3 class="box-title">2003</h3>
          <!-- box-text -->
          <p class="box-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ رلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
        </div>
      </div>
      <!-- col -->
      <div class="col-lg-4 col-md-6">
        <!-- box -->
        <div class="box text-center">
          <!-- box-title -->
          <h3 class="box-title">+2M</h3>
          <!-- box-text -->
          <p class="box-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهومگی با تولید سادگی نامفهوم از صنعت چاپس</p>
        </div>
      </div>
      <!-- col -->
      <div class="col-lg-4 col-md-6">
        <!-- box -->
        <div class="box text-center">
          <!-- box-title -->
          <h3 class="box-title">750+</h3>
          <!-- box-text -->
          <p class="box-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
        </div>
      </div>
    </div>
    <!-- content -->
    <div class="content text-lg-right text-md-center text-right">
      <!-- row -->
      <div class="row align-items-center">
        <!-- col -->
        <div class="col-lg-6 pr-xl-3 mb-lg-0 mb-2">
          <!-- side-img -->
          <img data-src="{% static 'assets/images/pages/about/04.jpg' %}" class="side-img lazy img-fluid" alt="Image">
        </div>
        <!-- col -->
        <div class="col-lg-6 pl-xl-3">
          <!-- title-2 -->
          <h4 class="title-2">متعهد به وردپرس</h4>
          <!-- title-2 -->
          <h2 class="title-1">تیم رهبری ما متواضعانه و با اشتیاق خود را وقف آزادسازی قدرت جمعی کارآفرینان روزمره می کند.</h2>
          <!-- para-2 -->
          <p class="para-2">Hostx جایی است که افراد برای نامگذاری ایده خود، ایجاد یک برند متقاعد کننده و یک وب سایت عالی، جذب مشتریان با بازاریابی دیجیتال و اجتماعی، و مدیریت کار خود می آیند. جایی که هیچ ابزاری به تنهایی قادر به انجام آن نیست، ما مستقیماً یک به یک با ارتباط انسانی راهنمایی می کنیم.</p>
        </div>
      </div>
      <!-- row -->
      <div class="row align-items-center">
        <!-- col -->
        <div class="col-lg-6 pr-xl-3 order-lg-1 order-2">
          <!-- title-2 -->
          <h4 class="title-2">متعهد به وردپرس</h4>
          <!-- title-2 -->
          <h2 class="title-1">تیم رهبری ما متواضعانه و با اشتیاق خود را وقف آزادسازی قدرت جمعی کارآفرینان روزمره می کند.</h2>
          <!-- para-2 -->
          <p class="para-2">Hostx جایی است که افراد برای نامگذاری ایده خود، ایجاد یک برند متقاعد کننده و یک وب سایت عالی، جذب مشتریان با بازاریابی دیجیتال و اجتماعی، و مدیریت کار خود می آیند. جایی که هیچ ابزاری به تنهایی قادر به انجام آن نیست، ما مستقیماً یک به یک با ارتباط انسانی راهنمایی می کنیم.</p>
        </div>
        <!-- col -->
        <div class="col-lg-6 pl-xl-3 mb-lg-0 mb-2 order-lg-2 order-1">
          <!-- side-img -->
          <img data-src="{% static 'assets/images/pages/about/04.jpg' %}" class="side-img lazy img-fluid" alt="Image">
        </div>
      </div>
      <!-- row -->
      <div class="row align-items-center">
        <!-- col -->
        <div class="col-lg-6 pr-xl-3 mb-lg-0 mb-2">
          <!-- side-img -->
          <img data-src="{% static 'assets/images/pages/about/04.jpg' %}" class="side-img lazy img-fluid" alt="Image">
        </div>
        <!-- col -->
        <div class="col-lg-6 pl-xl-3">
          <!-- title-2 -->
          <h4 class="title-2">متعهد به وردپرس</h4>
          <!-- title-2 -->
          <h2 class="title-1">تیم رهبری ما متواضعانه و با اشتیاق خود را وقف آزادسازی قدرت جمعی کارآفرینان روزمره می کند.</h2>
          <!-- para-2 -->
          <p class="para-2">Hostx جایی است که افراد برای نامگذاری ایده خود، ایجاد یک برند متقاعد کننده و یک وب سایت عالی، جذب مشتریان با بازاریابی دیجیتال و اجتماعی، و مدیریت کار خود می آیند. جایی که هیچ ابزاری به تنهایی قادر به انجام آن نیست، ما مستقیماً یک به یک با ارتباط انسانی راهنمایی می کنیم.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>

{% endblock content %}
