{% load static %}

  <!-- theme-settings-btn -->
  <button type="button" class="theme-settings-btn" id="theme-settings-btn" data-tooltip="حالت تاریک">
    <img src="{% static 'assets/images/templates/theme-settings/settings-sliders.svg' %}" class="img-fluid" alt="Icon">
  </button>

  <!-- theme-settings -->
  <div class="theme-settings" id="theme-settings">
    <!-- title-1 -->
    <div class="title-1">تنظیمات</div>
    <!-- close-btn -->
    <div class="close-btn" id="theme-settings-close-btn">
      <img src="{% static 'assets/images/templates/navbar/Close Square.svg' %}" class="img-fluid" alt="Icon">
    </div>
    <!-- section -->
    <div class="section">
      <!-- section-title -->
      <div class="section-title">تم رنگی</div>
      <!-- themes -->
      <div class="themes">
        <!-- theme-btn -->
        <div class="theme-btn light-theme active-theme" id="light-theme-btn">
          <div class="color"></div>
          <span class="name">روشن</span>
        </div>
        <!-- theme-btn -->
        <div class="theme-btn dark-theme" id="dark-theme-btn">
          <div class="color"></div>
          <span class="name">تاریک</span>
        </div>
      </div>
    </div>

    <!-- section -->
    <div class="section">
      <!-- section-title -->
      <div class="section-title">دسترسی سریع</div>
      <!-- q-link -->
      <div class="q-link">
        <a href="#">چگونه یک دامنه ثبت کنم؟</a>
      </div>
      <!-- q-link -->
      <div class="q-link">
        <a href="#">چه سرویسی برای من مناسب است؟</a>
      </div>
      <!-- q-link -->
      <div class="q-link">
        <a href="#">چگونه یک دامنه با پسوند ir ثبت کنم</a>
      </div>
      <!-- q-link -->
      <div class="q-link">
        <a href="#">شرایط و قوانین استفاده</a>
      </div>
      <!-- q-link -->
      <div class="q-link">
        <a href="#">تماس با لورا هاست</a>
      </div>
    </div>
    <!-- section -->
    <div class="section">
      <!-- section-title -->
      <div class="section-title">کپی‌رایت</div>
      <!-- copyright-text -->
      <p class="copyright-text">لورا هاست، میزبان مطمعن ایده های شما </p>
    </div>
  </div>
